body {
  background-color: green;
}

img {
  vertical-align: middle;

}

h1 {
  color: yellow;
  text-align: center;
}

h2 {
  color: orange;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
}
p {
  text-align:center;
}
